<h2>Downsampling</h2>
<wam-prism language="javascript" ngPreserveWhitespaces><!-- htmlmin:ignore -->const downsampleContext = new OfflineAudioContext(
    audioBuffer.numberOfChannels,
    audioBuffer.duration * 11025,
    11025
);
const bufferSource = new AudioBufferSourceNode(downmixContext, &#123;
    buffer: audioBuffer
&#125;);
bufferSource.start(0);
bufferSource.connect(downsampleContext.destination);

downsampleContext.startRendering();
// will resolve with the downsampled audioBuffer<!-- htmlmin:ignore --></wam-prism>
