<h2>Addition (performance)</h2>
<table>
    <tr>
        <th></th>
        <th>Chrome (59)</th>
        <th>Firefox (54)</th>
    </tr>
    <tr>
        <td>JavaScript one division</td>
        <td>802ms</td>
        <td>107ms</td>
    </tr>
    <tr>
        <td>JavaScript ten divisions</td>
        <td>7778ms</td>
        <td>1159ms</td>
    </tr>
    <tr>
        <td>WAA one division</td>
        <td>162ms</td>
        <td>173ms</td>
    </tr>
    <tr>
        <td>WAA ten divisions</td>
        <td>779ms</td>
        <td>915ms</td>
    </tr>
</table>
<span>computing five million values</span>
