<h2>Subtraction (WAA)</h2>
<wam-prism language="javascript" ngPreserveWhitespaces
    ><!-- htmlmin:ignore --><!-- prettier-ignore -->//...
const constantSource = new ConstantSourceNode(audioContext, &lbrace;
    offset: 0.7
&rbrace;);
constantSource.start(0);
const gain = new GainNode(audioContext, &lbrace;
    gain: -1
&rbrace;);
valuesBufferSource.connect(audioContext.destination);
constantSource
    .connect(gain)
    .connect(audioContext.destination);
//...<!-- htmlmin:ignore --></wam-prism
>
