<h2>Division (performance)</h2>
<table>
    <tr>
        <th></th>
        <th>Chrome (59)</th>
        <th>Firefox (54)</th>
    </tr>
    <tr>
        <td>JavaScript one division</td>
        <td>781ms</td>
        <td>105ms</td>
    </tr>
    <tr>
        <td>JavaScript ten divisions</td>
        <td>7905ms</td>
        <td>1219ms</td>
    </tr>
    <tr>
        <td>WAA one division</td>
        <td>97ms</td>
        <td>140ms</td>
    </tr>
    <tr>
        <td>WAA ten divisions</td>
        <td>143ms</td>
        <td>173ms</td>
    </tr>
</table>
<span>computing five million values</span>
